{:deps { org.clojure/core.async {:mvn/version "0.6.532"}
        hashp/hashp {:mvn/version "0.1.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        aocd/aocd {:mvn/version "0.1.1"}
        aysylu/loom {:mvn/version "1.0.2"} ;; graph algos
                com.rpl/specter {:mvn/version "1.1.4"}
	org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        }
 
 :paths ["src" "data" "tests"]
 :aliases {:dev {;; for disabling the official compiler
                 :classpath-overrides {org.clojure/clojure nil}
                 :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.12.0-2"}
                              com.github.flow-storm/flow-storm-dbg {:mvn/version "4.1.0"}}
                 :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
                            "-Dclojure.storm.instrumentOnlyPrefixes=utils"]}}
 }

